.homep1-cus{
    font-size: 35px;
    width: 300%;
    
}
.homep1-cus .web1-home1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.homep1-cus .web1-home1 .itemb_blog{
    /* border: 1px solid violet; */
    margin-right: 10px;
    width: 700px;
    transition:  0.3s;
    padding: 10px 20px;
} 
@media (max-width: 1120px) {
    .homep1-cus .web1-home1 .itemb_blog{
        width: 1200px;
        text-align: center;
    } 
}